@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased transition-all duration-700 ease-in-out bg-[#FDFDFC] text-black;
}


pre[data-theme*="github-light"],
pre[data-theme*="github-light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark pre[data-theme*="github-dark"],
html.dark pre[data-theme*="github-dark"] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.dark body {
  @apply bg-black text-white; 
}



.prose pre {
  @apply my-6 overflow-auto rounded-xl p-4 text-xs  bg-white  border border-[#EBEBEB] dark:border-[#2C2C2B] 
}

.dark .prose pre {
  background-color: #0B0E11;
}

.prose h2 {
  @apply font-medium;
}

.prose a {
  @apply font-medium mb-16;
}


.prose p {
  @apply my-4 text-gray-200 dark:text-gray-100 font-medium leading-6 tracking-[-0.1px];
}
